doctype html
html
  head
    title 水餃大會評分器
  body
    form(action='./senddata', method='post')
      input(type='text', name='team', placeholder='組別')
      br
      br
      input(type='text', name='yum', placeholder='好吃度')
      br
      br
      input(type='text', name='creative', placeholder='創意度')
      br
      br
      input(type='text', name='sight', placeholder='美觀度')
      br
      br
      br
      br
      br
      br
      input(type='submit')
    br
    br
    br
    br
    br
    br
    div(style='margin-top:20px;')
      a(href='./logout') logout
