doctype html
html
  head
    meta(name="viewport", content="initial-scale=0.2, user-scalable=no")
    meta(content="2016水餃大會評分器", property="og:site_name")
    meta(content="2016電資水餃大會評分器" property="og:title")
    meta(content="一個簡單的評分和即時顯示系統" property="og:description")
    meta(content="https://eecsdumplingjudge.herokuapp.com/" property="og:url")
    meta(content="website" property="og:type")
    meta(content="https://eecsdumplingjudge.herokuapp.com/img/dumpling3.jpg" property="og:image")
    title 水餃大會評分器
    link(rel='stylesheet', href='/css/style.css')
    script(src='lib/jquery-2.1.4.min.js')
    script(src='lib/slick.min.js')
    script(src='lib/d3.min.js')
    script(src='lib/bar.js')
    script(src='js/bundle.min.js')
  body
    div#content
